/* app/assets/stylesheets/custom.css */

/* Navbar styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: linear-gradient(to right, #1C1C1C, purple);

}
.navbar {
    padding: 15px;
    z-index: 99;
}

.navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand:hover {
    color: #f39c12;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 15px;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #f39c12;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    justify-content: flex-end;
}

.btn-danger {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

.btn-danger:hover {
    background-color: white !important;
    color: black !important;
}



/* Responsive adjustments */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 15px;
    }
}

